body{
    background-color: activecaption;
}
.uppercase{
    font-size: 40px;
}
img{
    width: 500px;
    hieght: 500px;
    text-align: center;
}
article{
    background-color:black;
    color: white;
    height: 800px;
    width: 700px;
}
h1{
    text-align: center;
}